{% extends "base.html" %}
{% block title %}Partners{% endblock %}
{% block description %}This is the partners page{% endblock %}
{% block content %}
<section class="content">
    <article class="sponsors">
    {% for id, type in partners.items %}
        <div>
            <h2 class="page-heading">{{ type.title }}</h2>

        		<div class="container-fluid">

        			<div class="row vertical-align">
                {% for partner in type.items %}
        				<div class="col col-12 col-lg-4">
        					<a href="{{partner.link}}" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{partner.image.url}}" alt=""></a>
        				</div>
                {% endfor %}
        			</div>

        		</div>
        </div>
    {% endfor %}
    </article>
</section>
{% endblock %}
