# Environment-based settings; copy this file to .env and edit as needed

# Whether the application runs in debug mode or not
DEBUG=true

# Allowed hosts (list of comma-separated host names, or asterisk to match all hosts), only needed if DEBUG is false
# ALLOWED_HOSTS=*

# Database URL to use; defaults to db.sqlite in project root
DATABASE_URL=sqlite:///db.sqlite
