.body{
  --translate-x: 300px;
  --translate-y: -20px;
}
.card{
   width: 80%;
   margin: 0 auto;
   height: 200px;
   position: relative;
   overflow: hidden;
   background-color: lighten($primary, 20);
   margin-bottom: 2rem;
}

.card-img-top{

   &:hover{
      .hover{
         @include opacity(0.7);
      }
      .hover-img{
         @include transform(translate(var(--translate-x), var(--translate-y)));
      }
   }
}

.fill{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 5;
}

.z-10{
   z-index: 10;
}

.hover{
   @include transition(all 380ms cubic-bezier(.16,.01,.77,1));
   @include opacity(0);
   //padding: 0 30px 20px 0;
}

.hover-img{
   @include transition(opacity,transform 320ms cubic-bezier(.16,.01,.77,1));

   &:after{
      content: '';
      @extend .fill;
      background-color: $secondary;
      mix-blend-mode: color;   //overlay, darken
   }
}

.cover-img{
   @include background-size(cover);
   background-position: top center;
   background-repeat: no-repeat;
}


.cover-img2{
   @include background-size(cover);
   background-position: top center;
   background-repeat: no-repeat;
}
