/* HOME */
$enigma-container-height: 540px;


#venue-home{
  color: $secondary;
}

#enigma_text{
  color: white;
}
.flex-list {
    position: relative;
    margin: 1em;
}
.flex-list:hover{
  animation: blinker 1s linear;
}
.flex-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}
.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 0.25rem;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.flex-list ul{
  list-style-type: none;
  padding: 0;
}


article.home {
    #speakers {
      h2 {
        font-size: 2.5rem;
        text-align: center;
      }

  		a .photo1 {
  			display: block;
  		}

  		a .photo2 {
  			display: none;
  		}

  		a:hover .photo1 {
  			display: none;
  		}

  		a:hover .photo2 {
  			display: block;
  		}

      .speaker-container {
      			img {
      				width: 100%;
      				height: auto;
      				top: 0;
      				left: 0;
      				z-index: 1;
      			}
      			a {
      				background-color: transparent;
      				transition: background-color .5s;
      				text-align: center;
      				display: block;
      				color: black;
      				position: relative;
      				width: 100%;
      				font-size: .9rem;
      			}
      			.speaker-info {
      				bottom: 1.25em;
      				z-index: 2;
      				width: 100%;
      				h3 {
      					font-size: 100%;
      					line-height: 1;
                margin-top: 1.5rem;
                color: $primary;
      				}
      				p {
      					font-size: 75%;
      					line-height: 1.25;
                color: white;
      				}
      			}
      		}
        h2.host {
          font-size: 2.5rem;
          color: white;
          margin-top: 1.5rem;
        }
       /* change following 10px values to your desired value of padding between the columns */
       .row {
         padding: 1rem;
         margin-left: -10px;
         margin-right: -10px;
         justify-content: center;
       }
       .col {
       			padding: 10px;
       		}
    }
    #auspices {
      padding: 50px;
      h2 {
        font-size: 2.5rem;
        text-align: center;
        color: white;
      }
  		a {
  			color: black;
  			display: block;
  			max-width: 280px;
  			width: 60%;
  			margin: 0 auto;
  		}
  		img {
        margin-top: 2rem;
  			width: 100%;
  			height: auto;
  			transition: transform .5s;
  		}
  		a:hover img {
  			transform: scale(1.05);
  		}
    }
    #map {
      padding: 50px;
      h2 {
        font-size: 2.5rem;
        text-align: center;
        color: white;
      }
      p {
        text-align: justify;
      }
      li {
            display: list-item;
            text-align: left;
      }
		.map {
			width: 100%;
			/* fallback for browsers that don't support vw */
			height: 400px;
			/* map has a width of 66.67vw and we want an aspect ratio of 21:9 */
			height: 28.57vw;
			min-height: 400px;
			border: 4px solid $primary;
		}
		.venue-gallery {
			margin-top: 1rem;
			img {
				width: 100%;
			}
		}
	}
  #leftStripe, #rightStripe {
  width: 80%;
  height: 100%;
  position: absolute;
  }
  #tba {
    padding-top: 1rem;
    .spinner {
      width: 70px;
      text-align: center;
      display: inline-block;
    }
    .tba_text {
      display: inline-block;
      padding-top: 100px;
      padding-bottom: 100px;
      color:$primary
    }
    .spinner > div {
      width: 18px;
      height: 18px;
      background-color: $secondary;

      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }

    @-webkit-keyframes sk-bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0) }
      40% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bouncedelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
      } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
      }
    }
  }


    .enigma-animation-container {
        margin-top: 0rem;
        position: relative;
        height: $enigma-container-height;
        width: 100%;
        .circle, canvas#enigma-animation {
            position: absolute;
            top: 0;
        }
        canvas#enigma-animation {
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
        }
        /*
         * Circle will take up all the height of the container
         * and will be centered.
         */
        .circle {
            background-color: $secondary;
            border-radius: 50%;
            left: calc(50% - #{$enigma-container-height / 2});
            height: $enigma-container-height;
            width: $enigma-container-height;
            opacity: 0;
        }
    }
    .side-container{
      position: relative;
      top: 40%
    }
}

#enigma-text{
  .primary_text{
    color: $primary;
  }
  margin-top: 4rem;
  font-size: 110%;
}
.enigma {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-size: 35px;
  line-height: 40px;
  color: $secondary;

  &__container {
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    height: 2.6rem;
    padding: 0 40px;

    &:before {
      content: '[';
      left: 0;
    }

    &:after {
      content: ']';
      position: absolute;
      right: 0;
    }

    &:after, &:before {
      position: absolute;
      top: 0;

      color: $primary-hover;
      font-size: 42px;
      line-height: 40px;

      -webkit-animation-name: opacity;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      text-align: left;
      list-style: none;
      color: $primary;
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        line-height:40px;
        margin:0;
        padding-left: 17rem;
      }
    }
  }
}

/* ANGLE BRACKETS STYLING FOR SECTIONS */
.angle-brackets, section.content .angle-brackets {
	position: relative;
	padding: 1rem;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 2.5rem;
		height: 2.5rem;
	}
	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		width: 2.5rem;
		height: 2.5rem;
	}
}

/* END ANGLE BRACKETS */

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}


/* mobile first */
#enigma-alt{
  display: block;
}
#enigma-section{
  margin-top: 6.5rem;
  .enigma{
    display: none;
  }
}
.circle{
  display: none;
}

@include media-breakpoint-up(sm) {
  article.home {
    #speakers {
      .speaker-container {
        a {
          /* font size gets smaller from lg to xl since we move to a 4-column layout */
          font-size: 1.2rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  article.home {
    #speakers {
      .speaker-container {
        a {
          /* font size gets smaller from lg to xl since we move to a 4-column layout */
          font-size: 0.6rem;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  article.home {
    #speakers {
      .speaker-container {
        a {
          /* font size gets smaller from lg to xl since we move to a 4-column layout */
          font-size: 1.25rem;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
	article.home {
		#speakers {
			.speaker-container {
				a {
					/* font size gets smaller from lg to xl since we move to a 4-column layout */
					font-size: 1rem;
				}
			}
		}
	}
}

/* media queries */
@media only screen and (min-width: 620px){
  .circle{
    display: block;
  }

  #enigma-alt{
    display: none;
  }
  #enigma-section{
    .enigma{
      display: block;
    }
  }
}

.opt1{
  color: $secondary;
}

.opt2{
  color: $primary;
}
