{% extends "base.html" %}
{% load i18n %}
{% block title %}About{% endblock %}
{% block description %}This is the About page{% endblock %}
{% block content %}
<section class="content">
    <article class="page about">
        <div id="about-ted">
            <h2 class="page-heading">About TED</h2>
            <p class="text-justify">
              {% trans "about.ted.content" %}
              </p>
        </div>

        <div id="about-tedx">
            <h2 class="page-heading">About TEDx</h2>
            <p class="text-justify">
               {% trans "about.tedx.content" %}
              </p>
        </div>
    </article>
</section>
{% endblock %}
