/* CONTACT PAGE */

article.contact {
	form {
		max-width: 768px;
		margin: 0 auto;
	}
	.form-control {
  		border-width: 2px;
	}
	.form-control:focus, .form-control.error {
  		border-color: $brand-primary;
  		box-shadow: none;
	}
	.form-control.error {
  		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px $brand-primary;
  	}
	.btn-primary:not([disabled]):not(.disabled) {
    	background-color: $brand-secondary;
    	border-color: $brand-secondary;
    	cursor: pointer;
    	outline: $brand-secondary;
    	&:active, &:visited, &:focus {
	    	background-color: $brand-secondary;
	    	border-color: $brand-secondary;
	    	outline: $brand-secondary;
  			box-shadow: none;
    	}
	}
	.btn-primary:not([disabled]):not(.disabled):hover {
		background-color: lighten($brand-secondary, 10%);
    	border-color: lighten($brand-secondary, 10%);
	}
	.success-container {
		display: none;
		p.big {
			font-size: 1.5rem;
			line-height: 1.25;
			i {
				font-size: 2rem;
			}
		}
	}
	small.error {
		color: $brand-primary !important;
	}
	.g-recaptcha.error > div {
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(0,0,0,0);
		border: 1px solid $brand-primary;
		border-radius: 4px;
	}
}

/*
 * MEDIA QUERIES
 */

article.contact {
	.success-container {
		p.big {
			font-size: 2rem;
			i {
				font-size: 2.5rem;
			}
		}
		p.return {
			font-size: 1.25rem;
		}
	}
}