/* ANGLE BRACKETS STYLING */

.angle-brackets, section.content .angle-brackets {
	position: relative;
	padding: 1rem;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 2.5rem;
		height: 2.5rem;
		border-top: 8px solid $brand-primary;
		border-left: 8px solid $brand-primary;
	}
	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		width: 2.5rem;
		height: 2.5rem;
		border-right: 8px solid $brand-primary;
		border-bottom: 8px solid $brand-primary;
	}
}

/*
 * MEDIA QUERIES
 */

@include media-breakpoint-up(md) {
	section.content .angle-brackets {
		padding: 2rem;
		&::before, &::after {
			width: 3rem;
			height: 3rem;
		}
	}
}