/* GLOBALS */

html {
	font-size: 106.25%;
}

body {
	color: $body-color;
}

a {
	color: $brand-primary;
	&:hover {
		color: darken($brand-primary, 20%);
	    text-decoration: none;
	}
}

::selection {
	background: $brand-primary;
	color: white;
}

// Remove Bootstrap's box-shadow from buttons
.btn:hover, .btn:focus {
	box-shadow: none;
}

a.call-to-action {
	display: inline-block;
	border-radius: 1rem;
	background-color: $brand-primary;
	color: white;
	font-size: 1rem;
	text-align: center;
	padding: .75rem 2rem;
	&:hover {
		background-color: saturate($brand-primary, 10%);
	}
}

/*
 * MEDIA QUERIES
 */

@include media-breakpoint-up(md) {
    a.call-to-action {
        font-size: 1.25rem;
	}
}