.navbar-toggler {
	cursor: pointer;
	align-items: center;
	border: none;
	padding: 0;
	margin-left: .5rem;
	&:active, &:focus {
		outline: none;
	}
	.hotdog-container {
		display: inline-block;
		position: relative;
		width: 36px;
		height: 19px;
	}
	.hotdog {
		display: block;
		position: absolute;
		border-radius: 4px;
		width: 100%;
		height: 3px;
		background: $hotdog-color;
		left: 0;
		z-index: 5;
		transition: width .35s , top .35s, left .35s, transform .35s .2s;
	}
	.hotdog-1 {
		top: 0;
	}
	.hotdog-2 {
		top: 8px;
	}
	.hotdog-3 {
		top: 16px;
	}
	.triangle {
		display: block;
		position: absolute;
		z-index: 4;
		width: 0;
		height: 0;
		bottom: 0;
		opacity: 0;
		border-style: solid;
		border-width: 0 19px 19px 19px;
		border-radius: 4px;
		border-color: transparent transparent $hotdog-color transparent;
		transition: opacity .35s .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
}

.navbar-toggler:not(.collapsed) {
	.hotdog-1 {
		top: 8px;
		left: -2px;
		width: 26px;
		transform: rotate(-46deg);
	}
	.hotdog-2 {
		top: 8px;
		left: 14px;
		width: 26px;
		transform: rotate(46deg);
	}
	.hotdog-3 {
		top: 23px;
		left: 1px;
		width: 100%;
		transform: translateY(-6px);
	}
	.triangle {
		opacity: 1;
	}
}