/* QUOTE STYLING */

.nav-slider {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	padding-bottom: 1.5rem;
	position: relative;
}
.nav-slider .nav-item {
	flex: 0 0 auto;
	width: 60%;
	text-align: center;
	a {
		display: inline-block;
		margin: 0 auto;
		padding: .25rem 1.5rem;
		&:hover {
			color: $brand-primary;
		}
	}
	a.active {
		border-bottom: 3px solid $brand-primary;
	}
}