/* TOOLTIPS */

[data-tooltip] {
	display: inline-block;
	position: relative;
	text-decoration: none;
	cursor: help;
}
[data-tooltip]:after {
	content: attr(data-tooltip);
	font-size: 1.1rem;
	position: absolute;
	left: 50%;
	background: $brand-secondary;
	padding: .75rem 1.25rem;
	color: white;
	border-radius: .5rem;
	white-space: nowrap;
	opacity: 0;
	transition: all 0.5s ease;
	white-space: pre-wrap;
	text-align: center;
	width: 70vw !important;
	margin-left: -35vw;
	z-index: 1000;
}
[data-tooltip]:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	transition: all 0.5s ease;
	opacity: 0;
	left: 50%;
	margin-left: -8px;
	z-index: 1000;
}
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
	opacity: 1;
}
[data-tooltip].tooltip-top {
	&:after {
		bottom: 0%;
	}
	&:before {
		bottom: 90%;
		/* arrow pointing down */
		border-top: 16px solid $brand-secondary;
	}
	&:hover:after {
		bottom: calc(100% + 16px);
	}
	&:hover:before {
		bottom: 100%;
	}
}
[data-tooltip].tooltip-bottom {
	&:after {
		top: 0%;
	}
	&:before {
		top: 90%;
		/* arrow pointing up */
		border-bottom: 16px solid $brand-secondary;
	}
	&:hover:after {
		top: calc(100% + 8px);
	}
	&:hover:before {
		top: calc(100% - 8px);
	}
}

/*
 * MEDIA QUERIES
 */

@include media-breakpoint-up(md) {
	[data-tooltip]:after {
		width: 480px !important;
		margin-left: -240px !important;
	}
}