// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";


/** GENERAL GUIDELINES **/

/* 	MOBILE FIRST APPROACH
 *	In each CSS file, the styles that target the smallest device size should appear at the top.
 *	Styles for larger device sizes should be changed in the "Media queries" section at the end of each file.
 */

/*	MEDIA QUERIES SECTIONS
 *	Media queries should be ordered by screen size, starting from the breakpoint of the smallest size.
 *	Legend:
 *		- sm: >= 576px
 *		- md: >= 768px
 *		- lg: >= 992px
 *		- xl: >= 1200px
 *		- custom 1366px
 */

/* 	DOCUMENTATION FOR .row AND .col ELEMENTS:
 *	.col elements should all collapse in the lg-breakpoint.
 *	Thus, for small device sizes (< lg) where each .col is presented as a row,
 *	margin-bottom is added to .col elements.
 *	Likewise, for larger device sizes (> lg) where many .col elements are contained
 *  in a .row element, margin-bottom is added to .row elements.
 */


// GLOBALS
@import "globals";

// HELPERS
@import "layout-helpers";

// NAVIGATION MENU
@import "nav";

// MAIN SECTIONS
@import "main-sections";

// FOOTER
@import "footer";

// INSERT HERE OTHER COMPONENT STYLES
// ...




/*
 * GENERAL MEDIA QUERIES
 */

