<svg
   width="0.256836mm"
   height="0.71111mm"
   viewBox="0 0 0.256836 0.71111"
   id="svgpipes1">
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer11"
     transform="translate(-58.460209,-280.14935)">
    <path
       style="fill:none;fill-opacity:1;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.614528,280.14935 v 0.0651"
       id="path00"
       inkscape:connector-curvature="0"
       g="0"
       l="6" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00870142;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.62537,280.21482 H 58.53234"
       id="path01"
       inkscape:connector-curvature="0"
       g="1"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00651433;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.624719,280.73294 -0.05145,-0.0523"
       id="path02"
       inkscape:connector-curvature="0"
       g="6"
       l="6" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00635432;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.531889,280.4133 0.05213,0.0539"
       id="path03"
       inkscape:connector-curvature="0"
       g="3"
       l="6" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00583442;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.535191,280.40801 0.05213,0.0539"
       id="path04"
       inkscape:connector-curvature="0"
       g="3"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00651433;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.628482,280.72913 -0.05143,-0.0524"
       id="path05"
       inkscape:connector-curvature="0"
       g="6"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.607617,280.27816 0.04373,0.0451"
       id="path06"
       inkscape:connector-curvature="0"
       g="3"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.496298,280.28115 h 0.112599"
       id="path07"
       inkscape:connector-curvature="0"
       g="2"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00501286;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.534823,280.21021 v 0.20398"
       id="path08"
       inkscape:connector-curvature="0"
       g="2"
       l="6" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.502513,280.2744 h 0.112582"
       id="path09"
       inkscape:connector-curvature="0"
       g="2"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.541088,280.21038 v 0.20398"
       id="path10"
       inkscape:connector-curvature="0"
       g="2"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00506803;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.62509,280.21021 H 58.53237"
       id="path11"
       inkscape:connector-curvature="0"
       g="1"
       l="6" />
    <path
       style="fill:none;fill-opacity:1;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.62121,280.14936 v 0.0651"
       id="path12"
       inkscape:connector-curvature="0"
       g="0"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.610634,280.27244 0.04373,0.0451"
       id="path13"
       inkscape:connector-curvature="0"
       g="3"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.50114,280.24109 v 0.0444"
       id="path14"
       inkscape:connector-curvature="0"
       g="1"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.711068,280.42138 v 0.0787"
       id="path15"
       inkscape:connector-curvature="0"
       g="11"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00499177;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.469709,280.41934 h 0.245354"
       id="path16"
       inkscape:connector-curvature="0"
       g="10"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.689684,280.19339 v 0.16952"
       id="path17"
       inkscape:connector-curvature="0"
       g="6"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.700572,280.36278 H 58.514585"
       id="path18"
       inkscape:connector-curvature="0"
       g="7"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.696718,280.35644 H 58.51073"
       id="path19"
       inkscape:connector-curvature="0"
       g="7"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.696351,280.1976 v 0.16952"
       id="path20"
       inkscape:connector-curvature="0"
       g="6"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.713568,280.24359 H 58.495705"
       id="path21"
       inkscape:connector-curvature="0"
       g="0"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.652586,280.20244 h 0.04794"
       id="path22"
       inkscape:connector-curvature="0"
       g="5"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.713569,280.2502 H 58.495705"
       id="path23"
       inkscape:connector-curvature="0"
       g="0"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00525259;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.494366,280.24109 v 0.0444"
       id="path24"
       inkscape:connector-curvature="0"
       g="1"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00505376;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.650806,280.33128 v -0.1383"
       id="path25"
       inkscape:connector-curvature="0"
       g="4"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.706719,280.4893 H 58.548362"
       id="path26"
       inkscape:connector-curvature="0"
       g="12"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.704475,280.42099 v 0.0787"
       id="path27"
       inkscape:connector-curvature="0"
       g="11"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.469709,280.42616 h 0.245355"
       id="path28"
       inkscape:connector-curvature="0"
       g="10"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.513027,280.35889 v 0.11345"
       id="path29"
       inkscape:connector-curvature="0"
       g="8"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.519574,280.46292 -0.0448,-0.0462"
       id="path30"
       inkscape:connector-curvature="0"
       g="9"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.514513,280.46551 -0.0448,-0.0462"
       id="path31"
       inkscape:connector-curvature="0"
       g="9"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.519577,280.35892 v 0.11345"
       id="path32"
       inkscape:connector-curvature="0"
       g="8"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.715246,280.49566 H 58.55689"
       id="path33"
       inkscape:connector-curvature="0"
       g="12"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.656483,280.70609 v 0.11829"
       id="path34"
       inkscape:connector-curvature="0"
       g="23"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.514855,280.71036 H 58.66737"
       id="path35"
       inkscape:connector-curvature="0"
       g="22"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00706036;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.554929,280.75161 -0.04794,-0.0494"
       id="path36"
       inkscape:connector-curvature="0"
       g="21"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00564829;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.558183,280.74727 -0.04794,-0.0494"
       id="path37"
       inkscape:connector-curvature="0"
       g="21"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.553884,280.6346 v 0.12357"
       id="path38"
       inkscape:connector-curvature="0"
       g="20"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.469336,280.63904 h 0.09543"
       id="path39"
       inkscape:connector-curvature="0"
       g="19"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00437742;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.471348,280.67011 v -0.0387"
       id="path40"
       inkscape:connector-curvature="0"
       g="18"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.514817,280.70359 h 0.152515"
       id="path41"
       inkscape:connector-curvature="0"
       g="22"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.560496,280.63455 v 0.12357"
       id="path42"
       inkscape:connector-curvature="0"
       g="20"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.621146,280.76886 v 0.0916"
       id="path43"
       inkscape:connector-curvature="0"
       l="11"
       g="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00493981;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.704378,280.54719 v 0.23512"
       id="path44"
       inkscape:connector-curvature="0"
       l="10"
       g="1" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.714844,280.77801 h -0.09791"
       id="path45"
       inkscape:connector-curvature="0"
       l="11"
       g="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.614524,280.76882 v 0.0916"
       id="path46"
       inkscape:connector-curvature="0"
       l="10"
       g="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.470046,280.5447 H 58.71521"
       id="path47"
       inkscape:connector-curvature="0"
       l="10"
       g="0" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.630212,280.46016 v 0.27901"
       id="path48"
       inkscape:connector-curvature="0"
       g="5"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00501286;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.582085,280.45783 h 0.05229"
       id="path49"
       inkscape:connector-curvature="0"
       g="4"
       l="6" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494203;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.686457,280.65944 H 58.473122"
       id="path50"
       inkscape:connector-curvature="0"
       g="17"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.477637,280.6701 v -0.0387"
       id="path51"
       inkscape:connector-curvature="0"
       g="18"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.469206,280.63267 h 0.09543"
       id="path52"
       inkscape:connector-curvature="0"
       g="19"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.519964,280.57663 h 0.166862"
       id="path53"
       inkscape:connector-curvature="0"
       g="15"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.470003,280.55142 h 0.245166"
       id="path54"
       inkscape:connector-curvature="0"
       l="11"
       g="0" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.623674,280.46013 v 0.27901"
       id="path55"
       inkscape:connector-curvature="0"
       g="5"
       l="6" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.581246,280.46468 h 0.05229"
       id="path56"
       inkscape:connector-curvature="0"
       g="4"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494203;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.675551,280.57902 v 0.0909"
       id="path57"
       inkscape:connector-curvature="0"
       l="8"
       g="16" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.686871,280.66586 H 58.473536"
       id="path58"
       inkscape:connector-curvature="0"
       g="17"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.519635,280.58331 h 0.166863"
       id="path59"
       inkscape:connector-curvature="0"
       g="15"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.551589,280.6133 -0.03741,-0.0378"
       id="path60"
       inkscape:connector-curvature="0"
       g="14"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.555498,280.60924 -0.03741,-0.0378"
       id="path61"
       inkscape:connector-curvature="0"
       g="14"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.557137,280.49144 v 0.13059"
       id="path62"
       inkscape:connector-curvature="0"
       g="13"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00600131;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.551453,280.4914 v 0.13059"
       id="path63"
       inkscape:connector-curvature="0"
       g="13"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.662878,280.82034 H 58.470814"
       id="path64"
       inkscape:connector-curvature="0"
       g="24"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494558;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 58.663165,280.81354 H 58.470841"
       id="path65"
       inkscape:connector-curvature="0"
       g="24"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.663158,280.7062 v 0.11828"
       id="path66"
       inkscape:connector-curvature="0"
       g="23"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.714858,280.7714 h -0.09789"
       id="path67"
       inkscape:connector-curvature="0"
       l="10"
       g="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847138;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.710997,280.54701 v 0.2353"
       id="path68"
       inkscape:connector-curvature="0"
       l="11"
       g="1" />
    <g
       transform="matrix(0,-0.04233333,-0.04233333,0,212.4259,298.8702)"
       inkscape:label="plai"
       id="g3721" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.657297,280.33137 v -0.1383"
       id="path69"
       inkscape:connector-curvature="0"
       g="4"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00497425;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.652576,280.1956 h 0.04794"
       id="path70"
       inkscape:connector-curvature="0"
       g="5"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00895276;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.682414,280.579 v 0.0909"
       id="path71"
       inkscape:connector-curvature="0"
       l="9"
       g="16" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer22"
     inkscape:label="Layer 2"
     transform="translate(-58.460209,-280.14935)">
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.470025,280.40711 0.0095,0.01 h -0.0095 z"
       id="path72"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.469709,280.4183 -0.0095,0.01 h 0.0095 z"
       id="path73"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.468202,280.42375 0.0095,0.01 h -0.0095 z"
       id="path74"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.489593,280.27781 0.0095,0.01 h -0.0095 z"
       id="path75"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.647012,280.32488 0.0095,0.01 h -0.0095 z"
       id="path76"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.701004,280.1986 -0.0095,-0.01 h 0.0095 z"
       id="path77"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.715647,280.24825 -0.0095,-0.01 h 0.0095 z"
       id="path78"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.619882,280.27848 -0.0095,-0.01 h 0.0095 z"
       id="path79"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.717045,280.42385 -0.0095,-0.01 h 0.0095 z"
       id="path80"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.636668,280.46279 -0.0095,-0.01 h 0.0095 z"
       id="path81"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.508491,280.46535 0.0095,0.01 h -0.0095 z"
       id="path82"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00013046;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.532419,280.40791 -0.0088,0.009 h 0.0088 z"
       id="path83"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.545532,280.61292 0.0095,0.01 h -0.0095 z"
       id="path84"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.512805,280.57981 0.0095,0.01 h -0.0095 z"
       id="path85"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.515824,280.57329 -0.0095,0.01 h 0.0095 z"
       id="path86"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00017338;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.515177,280.56443 0.01426,0.01 h -0.01426 z"
       id="path87"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.464266,280.66047 0.0095,0.01 h -0.0095 z"
       id="path88"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014177;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.505975,280.70612 0.0095,0.01 h -0.0095 z"
       id="path89"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00015189;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.508412,280.69974 -0.01031,0.0103 h 0.01031 z"
       id="path90"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00017407;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.507752,280.69138 0.01426,0.01 h -0.01426 z"
       id="path91"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.546984,280.74846 0.0095,0.01 h -0.0095 z"
       id="path92"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014177;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.616873,280.72943 0.0095,0.01 h -0.0095 z"
       id="path93"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.71549,280.54739 -0.0095,-0.01 h 0.0095 z"
       id="path94"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.687242,280.57942 -0.0095,-0.01 h 0.0095 z"
       id="path95"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014177;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.572486,280.68439 0.0095,0.01 h -0.0095 z"
       id="path96"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00015189;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.574921,280.67801 -0.01031,0.0103 h 0.01031 z"
       id="path97"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00016545;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.57445,280.67055 0.01409,0.009 h -0.01409 z"
       id="path98"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.66742,280.70628 -0.0095,-0.01 h 0.0095 z"
       id="path99"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.567711,280.63832 -0.0095,-0.01 h 0.0095 z"
       id="path100"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 58.618993,280.27194 -0.0134,-8e-5 0.0067,-0.007 z"
       id="path77-3"
       inkscape:connector-curvature="0" />
  </g>
</svg>
