<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="115.45191mm"
   height="314.99915mm"
   viewBox="0 0 115.45191 314.99915"
   version="1.1"
   id="svgpipes">
  <defs
     id="defs2">
    <clipPath
       id="clipPath3729"
       clipPathUnits="userSpaceOnUse">
      <path
         inkscape:connector-curvature="0"
         id="path3727"
         d="M 0,908 H 6978 V 4014 H 0 V 908" />
    </clipPath>
    <filter
       style="color-interpolation-filters:sRGB"
       inkscape:label="Drop Shadow"
       id="filter3591">
      <feFlood
         flood-opacity="0.498039"
         flood-color="rgb(0,0,0)"
         result="flood"
         id="feFlood3581" />
      <feComposite
         in="flood"
         in2="SourceGraphic"
         operator="in"
         result="composite1"
         id="feComposite3583" />
      <feGaussianBlur
         in="composite1"
         stdDeviation="28.8"
         result="blur"
         id="feGaussianBlur3585" />
      <feOffset
         dx="6"
         dy="6"
         result="offset"
         id="feOffset3587" />
      <feComposite
         in="SourceGraphic"
         in2="offset"
         operator="over"
         result="fbSourceGraphic"
         id="feComposite3589" />
      <feColorMatrix
         result="fbSourceGraphicAlpha"
         in="fbSourceGraphic"
         values="0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0"
         id="feColorMatrix3593" />
      <feFlood
         id="feFlood3595"
         flood-opacity="0.498039"
         flood-color="rgb(0,0,0)"
         result="flood"
         in="fbSourceGraphic" />
      <feComposite
         in2="fbSourceGraphic"
         id="feComposite3597"
         in="flood"
         operator="in"
         result="composite1" />
      <feGaussianBlur
         id="feGaussianBlur3599"
         in="composite1"
         stdDeviation="28.8"
         result="blur" />
      <feOffset
         id="feOffset3601"
         dx="6"
         dy="6"
         result="offset" />
      <feComposite
         in2="offset"
         id="feComposite3603"
         in="fbSourceGraphic"
         operator="over"
         result="fbSourceGraphic" />
      <feColorMatrix
         result="fbSourceGraphicAlpha"
         in="fbSourceGraphic"
         values="0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0"
         id="feColorMatrix3605" />
      <feFlood
         id="feFlood3607"
         flood-opacity="0.498039"
         flood-color="rgb(0,0,0)"
         result="flood"
         in="fbSourceGraphic" />
      <feComposite
         in2="fbSourceGraphic"
         id="feComposite3609"
         in="flood"
         operator="in"
         result="composite1" />
      <feGaussianBlur
         id="feGaussianBlur3611"
         in="composite1"
         stdDeviation="11"
         result="blur" />
      <feOffset
         id="feOffset3613"
         dx="6"
         dy="6"
         result="offset" />
      <feComposite
         in2="offset"
         id="feComposite3615"
         in="fbSourceGraphic"
         operator="over"
         result="fbSourceGraphic" />
      <feColorMatrix
         result="fbSourceGraphicAlpha"
         in="fbSourceGraphic"
         values="0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0"
         id="feColorMatrix3617" />
      <feFlood
         id="feFlood3619"
         flood-opacity="0.498039"
         flood-color="rgb(0,0,0)"
         result="flood"
         in="fbSourceGraphic" />
      <feComposite
         in2="fbSourceGraphic"
         id="feComposite3621"
         in="flood"
         operator="in"
         result="composite1" />
      <feGaussianBlur
         id="feGaussianBlur3623"
         in="composite1"
         stdDeviation="2.6"
         result="blur" />
      <feOffset
         id="feOffset3625"
         dx="6"
         dy="6"
         result="offset" />
      <feComposite
         in2="offset"
         id="feComposite3627"
         in="fbSourceGraphic"
         operator="over"
         result="composite2" />
    </filter>
    <filter
       style="color-interpolation-filters:sRGB"
       inkscape:label="Drop Shadow"
       id="filter1029">
      <feFlood
         flood-opacity="0.498039"
         flood-color="rgb(0,0,0)"
         result="flood"
         id="feFlood1019" />
      <feComposite
         in="flood"
         in2="SourceGraphic"
         operator="in"
         result="composite1"
         id="feComposite1021" />
      <feGaussianBlur
         in="composite1"
         stdDeviation="3"
         result="blur"
         id="feGaussianBlur1023" />
      <feOffset
         dx="4"
         dy="4"
         result="offset"
         id="feOffset1025" />
      <feComposite
         in="SourceGraphic"
         in2="offset"
         operator="over"
         result="composite2"
         id="feComposite1027" />
    </filter>
    <filter
       style="color-interpolation-filters:sRGB"
       inkscape:label="Drop Shadow"
       id="filter4765">
      <feFlood
         flood-opacity="0.498039"
         flood-color="rgb(0,0,0)"
         result="flood"
         id="feFlood4755" />
      <feComposite
         in="flood"
         in2="SourceGraphic"
         operator="in"
         result="composite1"
         id="feComposite4757" />
      <feGaussianBlur
         in="composite1"
         stdDeviation="0.5"
         result="blur"
         id="feGaussianBlur4759" />
      <feOffset
         dx="5"
         dy="5"
         result="offset"
         id="feOffset4761" />
      <feComposite
         in="SourceGraphic"
         in2="offset"
         operator="over"
         result="composite2"
         id="feComposite4763" />
    </filter>
    <filter
       style="color-interpolation-filters:sRGB;"
       inkscape:label="Drop Shadow"
       id="filter1084">
      <feFlood
         flood-opacity="0.498039"
         flood-color="rgb(0,0,0)"
         result="flood"
         id="feFlood1074" />
      <feComposite
         in="flood"
         in2="SourceGraphic"
         operator="in"
         result="composite1"
         id="feComposite1076" />
      <feGaussianBlur
         in="composite1"
         stdDeviation="0.5"
         result="blur"
         id="feGaussianBlur1078" />
      <feOffset
         dx="3"
         dy="3"
         result="offset"
         id="feOffset1080" />
      <feComposite
         in="SourceGraphic"
         in2="offset"
         operator="over"
         result="composite2"
         id="feComposite1082" />
    </filter>
    <filter
       style="color-interpolation-filters:sRGB;"
       inkscape:label="Drop Shadow"
       id="filter1098">
      <feFlood
         flood-opacity="0.498039"
         flood-color="rgb(0,0,0)"
         result="flood"
         id="feFlood1088" />
      <feComposite
         in="flood"
         in2="SourceGraphic"
         operator="in"
         result="composite1"
         id="feComposite1090" />
      <feGaussianBlur
         in="composite1"
         stdDeviation="0.5"
         result="blur"
         id="feGaussianBlur1092" />
      <feOffset
         dx="3"
         dy="2"
         result="offset"
         id="feOffset1094" />
      <feComposite
         in="SourceGraphic"
         in2="offset"
         operator="over"
         result="composite2"
         id="feComposite1096" />
    </filter>
    <filter
       style="color-interpolation-filters:sRGB;"
       inkscape:label="Drop Shadow"
       id="filter988"
       x="-0.017896326"
       width="1.0357927"
       y="-0.006559272"
       height="1.0131185">
      <feFlood
         flood-opacity="0.498039"
         flood-color="rgb(0,0,0)"
         result="flood"
         id="feFlood978" />
      <feComposite
         in="flood"
         in2="SourceGraphic"
         operator="in"
         result="composite1"
         id="feComposite980" />
      <feGaussianBlur
         in="composite1"
         stdDeviation="0.71741841"
         result="blur"
         id="feGaussianBlur982" />
      <feOffset
         dx="3"
         dy="2"
         result="offset"
         id="feOffset984" />
      <feComposite
         in="SourceGraphic"
         in2="offset"
         operator="over"
         result="composite2"
         id="feComposite986" />
    </filter>

  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-52.302015,7.8887904)"
     style="filter:url(#filter988)">
    <path
       style="fill:none;fill-opacity:1;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 117.20629,18.361139 V 42.409874"
       id="path4297-0"
       inkscape:connector-curvature="0"
       g="0"
       l="0" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.260813;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 121.33036,42.527529 H 85.947154"
       id="path5119"
       inkscape:connector-curvature="0"
       g="1"
       l="1" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:2.22391319;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 121.15842,233.87719 -17.8239,-17.608"
       id="path5142"
       inkscape:connector-curvature="0"
       g="6"
       l="0" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:2.31485033;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 86.764642,115.88681 18.828488,19.81184"
       id="path5144-4"
       inkscape:connector-curvature="0"
       g="3"
       l="0" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:2.18641853;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 87.025052,113.84567 19.831478,19.90439"
       id="path5144-4-9"
       inkscape:connector-curvature="0"
       g="3"
       l="1" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:2.22687888;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 122.58941,232.46814 104.81442,214.76457"
       id="path5142-0"
       inkscape:connector-curvature="0"
       g="6"
       l="1" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 114.57658,65.911185 16.63753,16.637529"
       id="path5259"
       inkscape:connector-curvature="0"
       g="3"
       l="3" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 72.22959,67.014571 h 42.82994"
       id="path5257"
       inkscape:connector-curvature="0"
       g="2"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.88236284;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 86.885087,40.827293 V 116.43713"
       id="path5161-2"
       inkscape:connector-curvature="0"
       g="2"
       l="0" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 74.593392,64.524335 H 117.42333"
       id="path5257-3"
       inkscape:connector-curvature="0"
       g="2"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17795658;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 89.268021,40.888975 V 116.33248"
       id="path5161"
       inkscape:connector-curvature="0"
       g="2"
       l="1" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.89921892;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 121.22424,40.827293 H 85.949644"
       id="path5119-6"
       inkscape:connector-curvature="0"
       g="1"
       l="0" />
    <path
       style="fill:none;fill-opacity:1;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 119.74817,18.363831 V 42.412566"
       id="path4297"
       inkscape:connector-curvature="0"
       g="0"
       l="1" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 115.72466,63.8004 16.63753,16.637528"
       id="path5259-8"
       inkscape:connector-curvature="0"
       g="3"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 74.071522,52.227131 V 68.604573"
       id="path5255-4-5"
       inkscape:connector-curvature="0"
       g="1"
       l="3" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 153.9308,118.78423 v 29.05691"
       id="path5509"
       inkscape:connector-curvature="0"
       g="11"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.87138593;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 62.114606,118.02827 H 155.52505"
       id="path5378"
       inkscape:connector-curvature="0"
       g="10"
       l="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 145.79636,34.618816 v 62.58003"
       id="path5370-6"
       inkscape:connector-curvature="0"
       g="6"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 149.9382,97.14921 H 79.18601"
       id="path5372"
       inkscape:connector-curvature="0"
       g="7"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 148.47207,94.8106 H 77.719874"
       id="path5372-3"
       inkscape:connector-curvature="0"
       g="7"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 148.33203,36.172804 V 98.752825"
       id="path5370"
       inkscape:connector-curvature="0"
       g="6"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.88805544;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 158.13293,53.081499 H 72.004028"
       id="path5253-2"
       inkscape:connector-curvature="0"
       g="0"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 131.68344,37.957362 h 18.23498"
       id="path5368-8"
       inkscape:connector-curvature="0"
       g="5"
       l="3" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.23656416;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 158.12792,55.588799 H 72.004464"
       id="path5253"
       inkscape:connector-curvature="0"
       g="0"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.96837997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 71.495036,52.226466 V 68.603908"
       id="path5255-4"
       inkscape:connector-curvature="0"
       g="1"
       l="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.89386845;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 131.00675,85.521428 V 34.466579"
       id="path5261"
       inkscape:connector-curvature="0"
       g="4"
       l="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 152.27681,143.85456 H 92.0372"
       id="path5511"
       inkscape:connector-curvature="0"
       g="12"
       l="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 151.42244,118.63813 v 29.05691"
       id="path5509-5"
       inkscape:connector-curvature="0"
       g="11"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 62.114985,120.54635 H 155.45102"
       id="path5378-3"
       inkscape:connector-curvature="0"
       g="10"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 78.593944,95.714487 V 137.59474"
       id="path5374"
       inkscape:connector-curvature="0"
       g="8"
       l="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 81.083872,134.11646 64.039286,117.07187"
       id="path5376-7"
       inkscape:connector-curvature="0"
       g="9"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 79.159191,135.07286 62.114606,118.02827"
       id="path5376"
       inkscape:connector-curvature="0"
       g="9"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 81.085012,95.725243 V 137.60549"
       id="path5374-4"
       inkscape:connector-curvature="0"
       g="8"
       l="3" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 155.52102,146.20261 H 95.281407"
       id="path5511-8"
       inkscape:connector-curvature="0"
       g="12"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 133.16573,223.88753 v 43.66518"
       id="path5535-6"
       inkscape:connector-curvature="0"
       g="23"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 79.289561,225.46421 H 137.30891"
       id="path5533-8"
       inkscape:connector-curvature="0"
       g="22"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:2.64583325;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 94.533683,240.69029 76.296333,222.45294"
       id="path5531"
       inkscape:connector-curvature="0"
       g="21"
       l="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:2.11666656;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 95.771544,239.08795 77.534196,220.8506"
       id="path5531-9"
       inkscape:connector-curvature="0"
       g="21"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 94.136228,197.49382 v 45.61957"
       id="path5529-7"
       inkscape:connector-curvature="0"
       g="20"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 61.973245,199.13287 H 98.271787"
       id="path5527-3"
       inkscape:connector-curvature="0"
       g="19"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.64041662;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 62.738605,210.60445 V 196.31223"
       id="path5523"
       inkscape:connector-curvature="0"
       g="18"
       l="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 79.274246,222.96533 H 137.29358"
       id="path5533"
       inkscape:connector-curvature="0"
       g="22"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 96.651341,197.47551 v 45.61956"
       id="path5529"
       inkscape:connector-curvature="0"
       g="20"
       l="3" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 119.72396,247.05989 v 33.80053"
       id="path5868"
       inkscape:connector-curvature="0"
       l="5"
       g="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 151.386,165.22831 v 86.88255"
       id="path5847-9"
       inkscape:connector-curvature="0"
       l="4"
       g="1" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 155.36744,250.43734 h -37.2401"
       id="path5849"
       inkscape:connector-curvature="0"
       l="5"
       g="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 117.2046,247.04346 v 33.80053"
       id="path5868-6"
       inkscape:connector-curvature="0"
       l="4"
       g="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 62.242802,164.3091 H 155.50649"
       id="path5845-7"
       inkscape:connector-curvature="0"
       l="4"
       g="0" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 123.17299,133.10007 V 236.09858"
       id="path5140"
       inkscape:connector-curvature="0"
       g="5"
       l="1" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.87854171;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 104.86444,132.24041 h 19.89191"
       id="path5138"
       inkscape:connector-curvature="0"
       g="4"
       l="0" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.852;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 144.56849,206.6637 H 63.412908"
       id="path5521-8"
       inkscape:connector-curvature="0"
       g="17"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 65.130735,210.60178 V 196.30956"
       id="path5523-5"
       inkscape:connector-curvature="0"
       g="18"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.8538723;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 61.923008,196.78228 h 36.3687"
       id="path5527"
       inkscape:connector-curvature="0"
       g="19"
       l="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85256577;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 81.199492,176.09395 H 144.70908"
       id="path5517"
       inkscape:connector-curvature="0"
       g="15"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 62.227245,166.79021 H 155.49094"
       id="path5845-7-4"
       inkscape:connector-curvature="0"
       l="5"
       g="0" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 120.68563,133.08907 V 236.08758"
       id="path5140-7"
       inkscape:connector-curvature="0"
       g="5"
       l="0" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 104.54564,134.76739 h 19.89191"
       id="path5138-9"
       inkscape:connector-curvature="0"
       g="4"
       l="1" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.852;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 140.41968,176.97681 v 33.57214"
       id="path919-3"
       inkscape:connector-curvature="0"
       l="2"
       g="16" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 144.72645,209.03491 H 63.57087"
       id="path5521"
       inkscape:connector-curvature="0"
       g="17"
       l="3" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.16754699;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 81.405215,178.56274 H 144.58407"
       id="path5517-2"
       inkscape:connector-curvature="0"
       g="15"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 93.262982,189.63171 79.030878,175.66688"
       id="path5515"
       inkscape:connector-curvature="0"
       g="14"
       l="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 94.749915,188.13288 80.517811,174.16805"
       id="path5515-5"
       inkscape:connector-curvature="0"
       g="14"
       l="3" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 95.374243,144.64483 v 48.20874"
       id="path5513-4"
       inkscape:connector-curvature="0"
       g="13"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:2.24895835;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 93.211288,144.63177 v 48.20874"
       id="path5513"
       inkscape:connector-curvature="0"
       g="13"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17248392;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 135.59961,266.06297 H 62.650548"
       id="path5537"
       inkscape:connector-curvature="0"
       g="24"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 135.70827,263.55385 H 62.643464"
       id="path5537-6"
       inkscape:connector-curvature="0"
       g="24"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 135.7061,223.92772 v 43.66517"
       id="path5535"
       inkscape:connector-curvature="0"
       g="23"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.85208333;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 155.37281,247.99474 h -37.2401"
       id="path5849-9"
       inkscape:connector-curvature="0"
       l="4"
       g="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 153.90398,165.16167 v 86.88255"
       id="path5847"
       inkscape:connector-curvature="0"
       l="5"
       g="1" />
    <g
       transform="matrix(0,-0.04233333,-0.04233333,0,212.4259,298.8702)"
       inkscape:label="plai"
       id="g3721" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.17499995;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 133.47607,85.556228 V 34.50139"
       id="path5261-5"
       inkscape:connector-curvature="0"
       g="4"
       l="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:1.86407518;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 131.67983,35.432793 h 18.23498"
       id="path5368"
       inkscape:connector-curvature="0"
       g="5"
       l="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:3.3549993;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 143.03073,176.96831 v 33.57214"
       id="path919"
       inkscape:connector-curvature="0"
       l="3"
       g="16" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Layer 2"
     transform="translate(-52.302015,7.8887904)">
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 62.235367,113.51392 3.58385,3.58385 h -3.58385 z"
       id="path5809"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 62.114985,117.64477 -3.58385,3.58385 h 3.58385 z"
       id="path5809-5"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05297767;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 60.885939,119.02082 3.58385,3.59212 h -3.58385 z"
       id="path5809-4"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 69.678649,65.781252 3.58385,3.58385 h -3.58385 z"
       id="path5809-7"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 128.38107,81.97578 3.58385,3.58385 h -3.58385 z"
       id="path5809-7-7"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 149.92678,36.416126 -3.58385,-3.58385 h 3.58385 z"
       id="path5809-3"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 124.78632,133.18273 -3.58385,-3.58385 h 3.58385 z"
       id="path5809-3-3-5-6-9"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.02788222;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 77.641027,135.78823 1.888359,1.88836 h -1.888359 z"
       id="path5809-4-2"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 90.95803,189.49129 3.58385,3.58385 h -3.58385 z"
       id="path5809-4-2-7"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 79.657915,174.86258 -3.58385,3.58385 h 3.58385 z"
       id="path5809-5-52"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 60.043426,207.04399 3.58385,3.58385 h -3.58385 z"
       id="path5809-4-2-7-4"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05312864;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 75.911145,223.89677 3.61262,3.58385 h -3.61262 z"
       id="path5809-4-2-7-5-6"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05692023;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 76.837655,221.54341 -3.916638,3.79432 h 3.916638 z"
       id="path5809-5-52-5"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06523275;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 76.588659,218.48322 5.446232,3.58385 h -5.446232 z"
       id="path5809-6-8"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 91.511207,239.52954 3.58385,3.58385 h -3.58385 z"
       id="path5809-4-2-7-52"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05312864;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 119.38811,233.72743 3.61262,3.58385 h -3.61262 z"
       id="path5809-4-2-7-5-6-8"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 155.61374,165.30129 -3.58385,-3.58385 h 3.58385 z"
       id="path5809-3-3-5-6-9-9"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 144.8674,177.12506 -3.58385,-3.58385 h 3.58385 z"
       id="path5809-3-3-5-6-9-9-2"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 137.32665,223.95752 -3.58385,-3.58385 h 3.58385 z"
       id="path5809-3-3-5-6-9-9-3"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.02596376;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 98.302397,197.71772 -1.647648,-1.87667 h 1.647648 z"
       id="path5809-3-3-5-6-9-9-3-2"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05316027;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 158.13518,53.972746 -3.61692,-3.58385 h 3.61692 z"
       id="path5809-3-3-5-3"
       inkscape:connector-curvature="0" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect1086"
       width="6.0336094"
       height="2.3269153"
       x="78.786751"
       y="172.83916"
       ry="0.0093885809" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter1098)"
       id="rect1102"
       width="1.6536458"
       height="2.9765627"
       x="102.17598"
       y="215.4653"
       ry="0.0098252604" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect1105"
       width="4.299479"
       height="2.1828125"
       x="103.53197"
       y="213.5636"
       ry="0.0093885809" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect1107"
       width="1.4323976"
       height="0.56711251"
       x="115.61399"
       y="63.02396"
       ry="0.0093885809" />
    <rect
       style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect1111"
       width="0.81266642"
       height="0.45602861"
       x="125.60632"
       y="-44.359203"
       ry="0.0093885809"
       transform="rotate(47.817654)" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.05291667;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 155.53524,118.95946 -3.58385,-3.58385 h 3.58385 z"
       id="path5809-3-3-5-6-9-6"
       inkscape:connector-curvature="0" />
  </g>
</svg>
