<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="0.256836mm"
   height="0.71111mm"
   viewBox="0 0 0.256836 0.71111"
   version="1.1"
   id="svgpipes3"
   sodipodi:docname="pipes2.svg"
   inkscape:version="0.92.4 (33fec40, 2019-01-16)">
  <metadata
     id="metadata112">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs110" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1299"
     inkscape:window-height="713"
     id="namedview108"
     showgrid="false"
     inkscape:zoom="128"
     inkscape:cx="1.4112751"
     inkscape:cy="0.53279872"
     inkscape:window-x="67"
     inkscape:window-y="27"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer22" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer11"
     transform="translate(-57.204306,-279.65963)">
    <g
       transform="matrix(0,-0.04233333,-0.04233333,0,212.4259,298.8702)"
       inkscape:label="plai"
       id="g3721" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer22"
     inkscape:label="Layer 2"
     transform="translate(-57.204306,-279.65963)">
    <path
       style="fill:none;fill-opacity:1;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.358625,279.65963 v 0.0651"
       id="path00-3-3"
       inkscape:connector-curvature="0"
       g="0"
       l="6" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00870142;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.369467,279.7251 h -0.09303"
       id="path01-6-6"
       inkscape:connector-curvature="0"
       g="1"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00651433;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.368816,280.24322 -0.05145,-0.0523"
       id="path02-7-7"
       inkscape:connector-curvature="0"
       g="6"
       l="6" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00635432;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.275986,279.92358 0.05213,0.0539"
       id="path03-5-5"
       inkscape:connector-curvature="0"
       g="3"
       l="6" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00583442;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.279288,279.91829 0.05213,0.0539"
       id="path04-3-3"
       inkscape:connector-curvature="0"
       g="3"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00651433;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.372579,280.23941 -0.05143,-0.0524"
       id="path05-5-5"
       inkscape:connector-curvature="0"
       g="6"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.351714,279.78844 0.04373,0.0451"
       id="path06-6-6"
       inkscape:connector-curvature="0"
       g="3"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.240395,279.79143 h 0.112599"
       id="path07-2-2"
       inkscape:connector-curvature="0"
       g="2"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00501286;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.27892,279.72049 v 0.20398"
       id="path08-9-9"
       inkscape:connector-curvature="0"
       g="2"
       l="6" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.24661,279.78468 h 0.112582"
       id="path09-1-1"
       inkscape:connector-curvature="0"
       g="2"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.285185,279.72066 v 0.20398"
       id="path10-2-2"
       inkscape:connector-curvature="0"
       g="2"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00506803;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.369187,279.72049 h -0.09272"
       id="path11-7-7"
       inkscape:connector-curvature="0"
       g="1"
       l="6" />
    <path
       style="fill:none;fill-opacity:1;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.365307,279.65964 v 0.0651"
       id="path12-0-0"
       inkscape:connector-curvature="0"
       g="0"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.354731,279.78272 0.04373,0.0451"
       id="path13-9-9"
       inkscape:connector-curvature="0"
       g="3"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.245237,279.75137 v 0.0444"
       id="path14-3-3"
       inkscape:connector-curvature="0"
       g="1"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.455165,279.93166 v 0.0787"
       id="path15-6-6"
       inkscape:connector-curvature="0"
       g="11"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00499177;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 57.213806,279.92962 H 57.45916"
       id="path16-0-0"
       inkscape:connector-curvature="0"
       g="10"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.433781,279.70367 v 0.16952"
       id="path17-6-6"
       inkscape:connector-curvature="0"
       g="6"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 57.444669,279.87306 H 57.258682"
       id="path18-2-2"
       inkscape:connector-curvature="0"
       g="7"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 57.440815,279.86672 H 57.254827"
       id="path19-6-6"
       inkscape:connector-curvature="0"
       g="7"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.440448,279.70788 v 0.16952"
       id="path20-1-1"
       inkscape:connector-curvature="0"
       g="6"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 57.457665,279.75387 H 57.239802"
       id="path21-8-8"
       inkscape:connector-curvature="0"
       g="0"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.396683,279.71272 h 0.04794"
       id="path22-7-7"
       inkscape:connector-curvature="0"
       g="5"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 57.457666,279.76048 H 57.239802"
       id="path23-9-9"
       inkscape:connector-curvature="0"
       g="0"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00525259;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.238463,279.75137 v 0.0444"
       id="path24-2-2"
       inkscape:connector-curvature="0"
       g="1"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00505376;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.394903,279.84156 v -0.1383"
       id="path25-0-0"
       inkscape:connector-curvature="0"
       g="4"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 57.450816,279.99958 H 57.292459"
       id="path26-2-2"
       inkscape:connector-curvature="0"
       g="12"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.448572,279.93127 v 0.0787"
       id="path27-3-3"
       inkscape:connector-curvature="0"
       g="11"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.213806,279.93644 h 0.245355"
       id="path28-7-7"
       inkscape:connector-curvature="0"
       g="10"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.257124,279.86917 v 0.11345"
       id="path29-5-5"
       inkscape:connector-curvature="0"
       g="8"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.263671,279.9732 -0.0448,-0.0462"
       id="path30-9-9"
       inkscape:connector-curvature="0"
       g="9"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.25861,279.97579 -0.0448,-0.0462"
       id="path31-2-2"
       inkscape:connector-curvature="0"
       g="9"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.263674,279.8692 v 0.11345"
       id="path32-2-2"
       inkscape:connector-curvature="0"
       g="8"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 57.459343,280.00594 H 57.300987"
       id="path33-8-8"
       inkscape:connector-curvature="0"
       g="12"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.40058,280.21637 v 0.11829"
       id="path34-9-9"
       inkscape:connector-curvature="0"
       g="23"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.258952,280.22064 h 0.152515"
       id="path35-7-7"
       inkscape:connector-curvature="0"
       g="22"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00706036;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.299026,280.26189 -0.04794,-0.0494"
       id="path36-3-3"
       inkscape:connector-curvature="0"
       g="21"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00564829;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.30228,280.25755 -0.04794,-0.0494"
       id="path37-6-6"
       inkscape:connector-curvature="0"
       g="21"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.297981,280.14488 v 0.12357"
       id="path38-1-1"
       inkscape:connector-curvature="0"
       g="20"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.213433,280.14932 h 0.09543"
       id="path39-2-2"
       inkscape:connector-curvature="0"
       g="19"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00437742;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.215445,280.18039 v -0.0387"
       id="path40-9-9"
       inkscape:connector-curvature="0"
       g="18"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.258914,280.21387 h 0.152515"
       id="path41-3-3"
       inkscape:connector-curvature="0"
       g="22"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.304593,280.14483 v 0.12357"
       id="path42-1-1"
       inkscape:connector-curvature="0"
       g="20"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.365243,280.27914 v 0.0916"
       id="path43-9-9"
       inkscape:connector-curvature="0"
       l="11"
       g="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00493981;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.448475,280.05747 v 0.23512"
       id="path44-4-4"
       inkscape:connector-curvature="0"
       l="10"
       g="1" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.458941,280.28829 h -0.09791"
       id="path45-7-7"
       inkscape:connector-curvature="0"
       l="11"
       g="2" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.358621,280.2791 v 0.0916"
       id="path46-8-8"
       inkscape:connector-curvature="0"
       l="10"
       g="3" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.214143,280.05498 h 0.245164"
       id="path47-4-4"
       inkscape:connector-curvature="0"
       l="10"
       g="0" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.374309,279.97044 v 0.27901"
       id="path48-5-5"
       inkscape:connector-curvature="0"
       g="5"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00501286;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.326182,279.96811 h 0.05229"
       id="path49-0-0"
       inkscape:connector-curvature="0"
       g="4"
       l="6" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494203;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 57.430554,280.16972 H 57.217219"
       id="path50-3-3"
       inkscape:connector-curvature="0"
       g="17"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.221734,280.18038 v -0.0387"
       id="path51-6-6"
       inkscape:connector-curvature="0"
       g="18"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.213303,280.14295 h 0.09543"
       id="path52-1-1"
       inkscape:connector-curvature="0"
       g="19"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.264061,280.08691 h 0.166862"
       id="path53-0-0"
       inkscape:connector-curvature="0"
       g="15"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.2141,280.0617 h 0.245166"
       id="path54-6-6"
       inkscape:connector-curvature="0"
       l="11"
       g="0" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.367771,279.97041 v 0.27901"
       id="path55-3-3"
       inkscape:connector-curvature="0"
       g="5"
       l="6" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.325343,279.97496 h 0.05229"
       id="path56-2-2"
       inkscape:connector-curvature="0"
       g="4"
       l="7" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494203;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.419648,280.0893 v 0.0909"
       id="path57-0-0"
       inkscape:connector-curvature="0"
       l="8"
       g="16" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 57.430968,280.17614 H 57.217633"
       id="path58-6-6"
       inkscape:connector-curvature="0"
       g="17"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.263732,280.09359 h 0.166863"
       id="path59-1-1"
       inkscape:connector-curvature="0"
       g="15"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.295686,280.12358 -0.03741,-0.0378"
       id="path60-5-5"
       inkscape:connector-curvature="0"
       g="14"
       l="8" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.299595,280.11952 -0.03741,-0.0378"
       id="path61-5-5"
       inkscape:connector-curvature="0"
       g="14"
       l="9" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.301234,280.00172 v 0.13059"
       id="path62-4-4"
       inkscape:connector-curvature="0"
       g="13"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00600131;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.29555,280.00168 v 0.13059"
       id="path63-7-7"
       inkscape:connector-curvature="0"
       g="13"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 57.406975,280.33062 H 57.214911"
       id="path64-6-6"
       inkscape:connector-curvature="0"
       g="24"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494558;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 57.407262,280.32382 H 57.214938"
       id="path65-5-5"
       inkscape:connector-curvature="0"
       g="24"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.407255,280.21648 v 0.11828"
       id="path66-6-6"
       inkscape:connector-curvature="0"
       g="23"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00494225;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.458955,280.28168 h -0.09789"
       id="path67-9-9"
       inkscape:connector-curvature="0"
       l="10"
       g="2" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847138;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.455094,280.05729 v 0.2353"
       id="path68-3-3"
       inkscape:connector-curvature="0"
       l="11"
       g="1" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00847243;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.401394,279.84165 v -0.1383"
       id="path69-7-7"
       inkscape:connector-curvature="0"
       g="4"
       l="9" />
    <path
       style="fill:none;stroke:#c1e3d2;stroke-width:0.00497425;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.396673,279.70588 h 0.04794"
       id="path70-4-4"
       inkscape:connector-curvature="0"
       g="5"
       l="8" />
    <path
       style="fill:none;stroke:#323232;stroke-width:0.00895276;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.426511,280.08928 v 0.0909"
       id="path71-5-5"
       inkscape:connector-curvature="0"
       l="9"
       g="16" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.214122,279.91739 0.0095,0.01 h -0.0095 z"
       id="path72-2-2"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.213806,279.92858 -0.0095,0.01 h 0.0095 z"
       id="path73-5-5"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.212299,279.93403 0.0095,0.01 h -0.0095 z"
       id="path74-4-4"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.23369,279.78809 0.0095,0.01 h -0.0095 z"
       id="path75-7-7"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.391109,279.83516 0.0095,0.01 h -0.0095 z"
       id="path76-4-4"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.445101,279.70888 -0.0095,-0.01 h 0.0095 z"
       id="path77-4-4"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.459744,279.75853 -0.0095,-0.01 h 0.0095 z"
       id="path78-3-3"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.363979,279.78876 -0.0095,-0.01 h 0.0095 z"
       id="path79-0-0"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.461142,279.93413 -0.0095,-0.01 h 0.0095 z"
       id="path80-7-7"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.380765,279.97307 -0.0095,-0.01 h 0.0095 z"
       id="path81-8-8"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.252588,279.97563 0.0095,0.01 h -0.0095 z"
       id="path82-6-6"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00013046;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.276516,279.91819 -0.0088,0.009 h 0.0088 z"
       id="path83-8-8"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.289629,280.1232 0.0095,0.01 h -0.0095 z"
       id="path84-8-8"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.256902,280.09009 0.0095,0.01 h -0.0095 z"
       id="path85-4-4"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.259921,280.08357 -0.0095,0.01 h 0.0095 z"
       id="path86-3-3"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00017338;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.259274,280.07471 0.01426,0.01 h -0.01426 z"
       id="path87-1-1"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.208363,280.17075 0.0095,0.01 h -0.0095 z"
       id="path88-4-4"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014177;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.250072,280.2164 0.0095,0.01 h -0.0095 z"
       id="path89-9-9"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00015189;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.252509,280.21002 -0.01031,0.0103 h 0.01031 z"
       id="path90-2-2"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00017407;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.251849,280.20166 0.01426,0.01 h -0.01426 z"
       id="path91-0-0"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.291081,280.25874 0.0095,0.01 h -0.0095 z"
       id="path92-6-6"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014177;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.36097,280.23971 0.0095,0.01 h -0.0095 z"
       id="path93-8-8"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.459587,280.05767 -0.0095,-0.01 h 0.0095 z"
       id="path94-9-9"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.431339,280.0897 -0.0095,-0.01 h 0.0095 z"
       id="path95-2-2"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014177;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.316583,280.19467 0.0095,0.01 h -0.0095 z"
       id="path96-6-6"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00015189;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.319018,280.18829 -0.01031,0.0103 h 0.01031 z"
       id="path97-6-6"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00016545;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.318547,280.18083 0.01409,0.009 h -0.01409 z"
       id="path98-4-4"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.411517,280.21656 -0.0095,-0.01 h 0.0095 z"
       id="path99-9-9"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.311808,280.1486 -0.0095,-0.01 h 0.0095 z"
       id="path100-5-5"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.00014121;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 57.36309,279.78222 -0.0134,-8e-5 0.0067,-0.007 z"
       id="path77-3-0-0"
       inkscape:connector-curvature="0" />
  </g>
</svg>
