{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block title %}Team{% endblock %}
{% block description %}This is the Team page{% endblock %}
{% block content %}
<article class="page team">
    <section class="content">
        <h2 class="page-heading">Our Team</h2>
        {% for id, team in teams.items %}
        <br />
        <h3 class="teamtitle">{{team.title}} </h3>
        <div class="container-fluid">
          <div class="row vertical-align">
          {% for member in team.members %}
          <div class="col col-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="card-img-top">
                    <a href="mailto:{{member.email}}" target="_blank">
                    <div id="{{member}}" class="fill cover-img">
                      <div class="fill hover">
                        <div id="{{member}}_" class="fill cover-img2 hover-img"> </div>
                        </div>
                      </div>
                     </a>
                  </div>
                </div>
            </div>
            <div class="wow fadeIn card-member-name">
                {{member}}
              </div>
            </div>


            {% endfor %}
            </div>
            </div>
        {% endfor %}
    </section>
</article>

<script>
let p;
let z;
{% for id, team in teams.items %}
  {% for member in team.members %}
  p = document.getElementById("{{member}}")
  p.style.backgroundImage = "url('{{member.image.url}}')"
  z = document.getElementById("{{member}}_")
  z.style.backgroundImage = "url('{{member.image_fun.url}}')"
  {% endfor %}
{% endfor %}
</script>

{% endblock %}

{% block scripts %}
{% render_bundle "team" "js" %}
{% endblock %}
