/* ABOUT PAGE */

article.about {
	#about-ted, #about-tedx, #about-tedxntua {
		.page-heading {
			color:$primary;
		}
		margin: 0 auto;
		max-width: 768px;
		p {
			text-align: justify;
		}
	}
}

/*
 * MEDIA QUERIES
 */

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}
