/* ABOUT PAGE */

article.about {
	#about-ted, #about-tedx {
		margin: 0 auto;
		max-width: 768px;
		p {
			text-align: justify;
		}
	}
}

/*
 * MEDIA QUERIES
 */

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}