<div class="container">
    <div class="social">
        <h3 class="hashtag">
            <i class="fas fa-hashtag"></i>
            tedxntua
        </h3>
        <a href="https://facebook.com/tedxntua">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://instagram.com/tedxntua">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/tedxntua">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <div class="sections">
        <div class="footer-section quick-info">
            <h6>ENIGMA</h6>
            <div class="section-content">
                <a href="/schedule">April 6th, 2019</a>
                <a target="_blank" href="https://goo.gl/maps/iNJotQ5RRTG2">Peiraios 254, Tavros</a>
                <a class="primary-link" href="https://www.eventbrite.com/e/tedxntua-2019-enigma-tickets-58737834444?fbclid=IwAR0NQSfvTu8cISwGgszG7xd_Aofd6U3776vfT2l7RohfWL0dXEYnDIbXdvE">Get tickets!</a>
            </div>
        </div>
        <div class="footer-section past-events">
            <h6>PAST EVENTS</h6>
            <div class="section-content">
                <a href="https://2018.tedxntua.com">2018 - Chaos</a>
                <a href="https://2017.tedxntua.com">2017 - Heuristics</a>
                <a href="https://2015.tedxntua.com">2015 - Chain Reactions</a>
                <a target="_blank" href="https://www.youtube.com/playlist?list=PLd7-PjFC85gz9xYWxVVqTddWLg75c8jZU">Watch the talks <i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-section contact">
            <h6>CONTACT US</h6>
            <a href="mailto:info&#64;tedxntua.com"><strong>info</strong>@tedxntua.com</a>
            <a href="#email-list" class="collapsed collapse-triangle" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="email-list"></a>
            <div id="email-list" class="section-content collapse">
                <a href="mailto:webmaster&#64;tedxntua.com"><strong>webmaster</strong>@tedxntua.com</a>
                <a href="mailto:fundraising&#64;tedxntua.com"><strong>fundraising</strong>@tedxntua.com</a>
                <a href="mailto:media&#64;tedxntua.com"><strong>media</strong>@tedxntua.com</a>
                <a href="mailto:speakers&#64;tedxntua.com"><strong>speakers</strong>@tedxntua.com</a>
                <a href="mailto:experience&#64;tedxntua.com"><strong>experience</strong>@tedxntua.com</a>
                <a href="mailto:graphics&#64;tedxntua.com"><strong>graphics</strong>@tedxntua.com</a>
                <a href="mailto:graphics&#64;tedxntua.com"><strong>venue</strong>@tedxntua.com</a>
            </div>
        </div>
        <div class="footer-section legal">
            <h6>LEGAL</h6>
            <div class="section-content">
                <a href="/license">Copyright</a>
                <a href="/privacy">Privacy Policy</a>
                <a class="tedx-license">This independently organized TEDx event is operated under license from TED.</a>
            </div>
        </div>
    </div>
</div>
