{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<nav id="nav" class="navbar navbar-expand-lg mx-auto">
    <div class="row-wrapper">
        <a class="navbar-brand mr-auto" href="/">
            <img src="{% static "images/tedxntua_logo_whitetext.png" %}" alt="TEDxNTUA Logo" />
        </a>

        <div class="language-selector">
          {% if LANGUAGE_CODE == 'en' %}
            <button class="btn dropdown-toggle nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                EN
                <i class="fas fa-angle-down"></i>
            </button>
            {% endif %}

            {% if LANGUAGE_CODE == 'el' %}
              <button class="btn dropdown-toggle nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  GR
                  <i class="fas fa-angle-down"></i>
              </button>
              {% endif %}

            <div class="dropdown-menu dropdown-menu-right">
              <form name="english_form" action="language" method="get">
                <input type="hidden" name="language" id="language" value="en"/>
                <input type="hidden" name="url" id="url" value={{request.path}} />
                <input type="hidden" value="en"/>
              </form>
              <form name="greek_form" action="language" method="get">
                <input type="hidden" name="language" id="language" value="el"/>
                <input type="hidden" name="url" id="url" value={{request.path}} />
                <input type="hidden" value="el"/>
              </form>
                <a class="dropdown-item" href="#" hreflang="el" onclick="document.forms['greek_form'].submit(); return false;">
                    Ελληνικά
                </a>
                <a class="dropdown-item" href="#" hreflang="en" onclick="document.forms['english_form'].submit(); return false;">
                    English
                </a>
            </div>
        </div>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHotdog" aria-controls="navbarHotdog" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hotdog-container">
                <span class="hotdog hotdog-1"></span>
                <span class="hotdog hotdog-2"></span>
                <span class="hotdog hotdog-3"></span>
                <span class="triangle"></span>
            </div>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarHotdog">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">{% trans "home" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/speakers">{% trans "speakers" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schedule">{% trans "schedule" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/partners">{% trans "partners" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">{% trans "team" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">{% trans "about" %}</a>
            </li>
            <li class="nav-item primary-item">
                <a class="nav-link" href="https://www.eventbrite.com/e/tedxntua-2019-enigma-tickets-58737834444?fbclid=IwAR0NQSfvTu8cISwGgszG7xd_Aofd6U3776vfT2l7RohfWL0dXEYnDIbXdvE">{% trans "tickets" %}</a>
            </li>
        </ul>
    </div>
</nav>
