{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "schedule" %}{% endblock %}
{% block description %}{% trans "schedule.description" %}{% endblock %}
{% block content %}
<section class="content">
  <article class="schedule page">
    {% if schedule %}
      {% include "./schedule_mobile.html" %}
      {% include "./schedule_desktop.html" %}
    {% else %}
    <div id="tba">
      <h2 class="tba_text">{% trans "to-be" %}</h2>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    {% endif %}
  </article>
</section>
{% endblock %}
