{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "schedule" %}{% endblock %}
{% block description %}{% trans "schedule.description" %}{% endblock %}
{% block content %}
<section class="content">
    <article class="schedule page">
        <section class="heading">
            <h1>{% trans "schedule" %}</h1>
        </section>
        <section class="content">
            {% include "./schedule_mobile.html" %}
            {% include "./schedule_desktop.html" %}
        </section>
    </article>
</section>
{% endblock %}
