{% load i18n %}
{% load schedule_extras %} {# see templatetags/schedule_extras.py for docs #}

<table class="table full-schedule table-hover d-none d-lg-table">
    <thead>
        <tr>
            <th scope="col">{% trans "schedule.time" %}</th>
            {% for stage, stage_name in stages.items %}
            <th scope="col" class="{{stage}}-stage">{{stage_name}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for time, row in schedule.items %}
        {% with row_id=forloop.counter|make_row_id %}
        <tr data-toggle="collapse" data-target=".{{row_id}}" class="collapsed" aria-expanded="false">
            <td class="time">
                <div class="cell-content">
                    <time datetime="{{day}} {{time}}">{{time}}</time>
                </div>
            </td>
            {% for stage, event in row.items %}
            <td class="event">
                {% if event %}
                <div class="cell-content media">
                    <img class="align-self-center mr-3" src="{{event.image.url}}" alt="">
                    <div class="media-body">
                        <h5>
                            {{event.title}}
                        </h5>
                        <h6>
                            {{event.subtitle}} ({{event.time_span}})
                        </h6>
                    </div>
                </div>
                {% else %}
                <div class="cell-content"></div>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        <tr class="collapse-row hidden">
            <td>
                <div class="cell-content {{row_id}} collapse">
                    <div class="more"></div>
                </div>
            </td>
            {% for stage, event in row.items %}
            <td>
                {% if event %}
                <div class="cell-content {{row_id}} collapse">
                    <div class="more">{{event.description}}</div>
                </div>
                {% else %}
                <div class="cell-content {{row_id}} collapse">
                    <div class="more"></div>
                </div>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table>