{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}
{% block title %}Speakers{% endblock %}
{% block description %}This is the speakers page{% endblock %}
{% block content %}


<article class="page speakers">
	<section class="heading">
		<h1>{% trans "speakers" %}</h1>
	</section>
	<section class="content">
		{% if speakers %}
	    {% for speaker in speakers %}
		      <div id="{{ speaker.id }}" class="speaker-header container-fluid">
						<img srcset="{{ speaker.image.thumbnail.320x320.url }} 320w,
												 {{ speaker.image.thumbnail.720x720.url }} 720w,
												 {{ speaker.image.thumbnail.1024x1024.url }} 1024w"
								sizes="(max-width: 576px) 320px,
												(max-width: 992px) 720px,
												1024px"
								src="{{ speaker.image.thumbnail.320x320.url }}"
								alt="{{ speaker.fullname }}" />
		        <h2>{{ speaker.fullname }} <a href="{{ speaker.link }}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
		        <h5>{{ speaker.occupation }}</h5>
		        {% if speaker.quote %}
		        <blockquote class="quote">{{ speaker.quote }}</blockquote>
		        {% endif %}
		      </div>
		      <div class="speaker-info container-fluid">
						<div class="row mb-3">
							<div class="col col-12">
								<h3 class="talk">{% trans "Talk" %} •
								<a class="italics" href="/schedule">{{ speaker.talk.title }} </a>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col col-12">
								<h3 class="text-center primary">{% trans "speakers.bio" %}</h3>
								{{ speaker.short_bio|safe }}
							</div>
						</div>
					</div>
					<div class="speaker-seperator">
					</div>
	    {% endfor %}
			<h2 >{% trans "Host" %}</h2>
			<div id="host" class="speaker-header container-fluid">
				<img srcset="{{ host.image.thumbnail.320x320.url }} 320w,
										 {{ host.image.thumbnail.720x720.url }} 720w,
										 {{ host.image.thumbnail.1024x1024.url }} 1024w"
						sizes="(max-width: 576px) 320px,
										(max-width: 992px) 720px,
										1024px"
						src="{{ host.image.thumbnail.320x320.url }}"
						alt="{{ host.fullname }}" />
				<h2>{{ host.fullname }} <a href="{{ host.link }}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
				<h5>{{ host.occupation }}</h5>
				{% if host.quote %}
				<blockquote class="quote">{{ host.quote }}</blockquote>
				{% endif %}
			</div>
			<div class="speaker-info container-fluid">
				<div class="row mb-3">
					<div class="col col-12">
						{{ host.talk.title }}
					</div>
				</div>
				<div class="row">
					<div class="col col-12">
						<h3 class="text-center primary">{% trans "speakers.bio" %}</h3>
						{{ host.short_bio|safe }}
					</div>
				</div>
			</div>
	{% else %}
	<div id="tba">
		<h2 class="tba_text">{% trans "to-be" %}</h2>
		<div class="spinner">
		  <div class="bounce1"></div>
		  <div class="bounce2"></div>
		  <div class="bounce3"></div>
		</div>
	</div>
	{% endif %}
  </section>
</article>


{% endblock %}
{% block scripts %}
{% render_bundle "speakers" "js" %}
{% endblock %}
