{% extends "base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% block title %}Home{% endblock %}
{% block description %}This is the home page{% endblock %}
{% block content %}
<section class="content">
    <article class="page home">
        <canvas id="enigma-animation" width="800" height="540"></canvas>
        <h1 class="page-heading">Home page</h1>

        <p>{% trans "home.content_placeholder" %}</p>
    </article>
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
          {% include "partials/pipes.html" %}
        </div>
        <div class="col-lg-6">
          <section class="content">
              <article class="page home">

              </article>
          </section>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{% render_bundle "home" "js" %}
{% render_bundle "pipes" "js" %}
{% endblock %}
